.place__title {
	grid-area: title;
	color: white;
}

@media (min-device-width: 320px) {
	.place__title {
		font-size: 32px;
		line-height: 35px;
		margin: 0 5%;
	}
}

@media (min-width: 768px) {
	.place__title {
		font-size: 42px;
		line-height: 46px;
		margin: 0;
	}
}

@media (min-width: 1024px) {
	.place__title {
		font-size: 72px;
		line-height: 76px;
	}
}