@import url("./__item/photo-grid__item.css");

.photo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media (min-device-width: 320px) {
	.photo-grid {
		margin: 0 5%;
		grid-gap: 12px;
	}
}

@media (min-width: 768px) {
	.photo-grid {
		min-width: 720px;
		grid-gap: 16px;
		margin: 0 3.2%;
	}
}

@media (min-width: 1024px) {
	.photo-grid {
		min-width: 928px;
		margin: 0 4.8%;
		grid-gap: 14px;
	}
}

@media (min-width: 1280px) {
	.photo-grid {
		grid-gap: 16px;
		min-width: 1184px;
		margin: 0 3.8%;
	}
}