@import url("./__item/photo-grid__item.css");

.photo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
	margin: 0 16px;
	width: 288px;
}

@media (min-device-width: 320px) {
	.photo-grid {
		margin: 0 auto;
		grid-row-gap: 12px;
	}
}

@media (min-width: 768px) {
	.photo-grid {
		width: 720px;
		grid-gap: 16px;
	}
}

@media (min-width: 1024px) {
	.photo-grid {
		width: calc(100% - 96px);
		grid-gap: 14px;
	}
}

@media (min-width: 1280px) {
	.photo-grid {
		grid-gap: 16px;
	}
}