@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import url("./__kalegin-michail/lead__kalegin-michail.css");
@import url("./__gpoup/lead__gpoup.css");
@import url("./__caption/lead__caption.css");

.lead {
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.lead {
		width: 928px;
	}
}

@media (min-width: 1280px) {
	.lead {
		width: 984px;
	}	
}