.cover__subtitle {
	z-index: 2;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: "Inter";
}


@media (min-device-width: 320px) {
	.cover__subtitle {
		margin-top: 16px;
		max-width: 288px;
		font-size: 14px;
		line-height: 16px;
	}
}

@media (min-width: 768px) {
	.cover__subtitle {
		max-width: 360px;
		font-size: 18px;
		line-height: 22px;
		margin-top: 32px;
	}
}
