.lead__image {
	background: url("../../../images/image.png") no-repeat;
	background-size: contain;
	padding-bottom: 62.5%;
	width: 100%;
}

@media (min-device-width: 320px) {
	.lead__image {
		margin-top: 40px;
	}
}

@media (min-width: 768px) {
	.lead__image {
		margin-top: 56px;
	}
}

@media (min-width: 1280px) {
	.lead__image {
		margin-top: 64px;
	}
}