@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__bacground/cover__bacground.css");
@import url("./__overlay/cover__overlay.css");

.cover {
	position: relative;
}

.cover:hover .cover__background {
	opacity: .2;
}

@media (min-device-width: 320px) {
	.cover {
		margin: 64px auto 0;
	}
}

@media (min-width: 768px) {
	.cover {
		margin-top: 88px;
	}
}

@media (min-width: 1024px) {
	.cover {
		margin-top: 92px;
	}
}

@media (min-width: 1280px) {
	.cover {
		max-width: 1184px;
	}
}